<template>
  <div
    class="dropdown"
    :class="`
      ${mixClass ? mixClass : ''}
      ${isCollapsed ? 'dropdown--collapsed' : ''}
    `"
    v-click-outside="collapse"
  >
    <div
      class="dropdown__field"
      @click="isCollapsed = !isCollapsed"
    >
      {{ options[value] }}
    </div>
    <ul class="dropdown__list">
      <li
        class="dropdown__item"
        :class="key === value ? 'dropdown__item--selected' : ''"
        :key="key"
        v-for="(option, key) in options"
        @click="select(key)"
      >
        {{ option }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'dropdown',
  props: {
    mixClass: {
      type: String,
    },
    value: {
      type: String,
    },
    options: {
      type: Object,
    },
  },
  data: () => ({
    isCollapsed: true,
  }),
  methods: {
    collapse1() {
      return null;
    },
    collapse() {
      this.isCollapsed = true;
    },
    select(option) {
      this.isCollapsed = true;
      this.$emit('input', option);
    },
  },
  directives: {
    clickOutside: {
      /* eslint-disable no-param-reassign */
      bind(el, binding, vNode) {
        if (typeof binding.value !== 'function') {
          /* eslint-disable-next-line no-console */
          console.warn('[directive-click-outside:] provided expression', binding.expression, 'must be a function.');
          return;
        }

        const handler = (e) => {
          if (!vNode.context || el.contains(e.target) || el === e.target) {
            return;
          }
          el.clickOutside.callback(e);
        };

        el.clickOutside = {
          handler,
          callback: binding.value,
        };

        document.addEventListener('click', handler);
      },
      update(el, binding) {
        el.clickOutside.callback = binding.value;
      },
      unbind(el) {
        document.removeEventListener('click', el.clickOutside.handler);
        delete el.clickOutside;
      },
      /* eslint-enable no-param-reassign */
    },
  },
};
</script>

<style lang="scss">
.dropdown {
  position: relative;
  max-width: 300px;
  margin-bottom: 20px;

  &__field {
    position: relative;
    border: 1px solid #aaa;
    background-color: #ccc;
    padding: 10px 10px;
    margin: 0;

    &::after {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 12px;
      height: 12px;
      top: calc(50% - 6px);
      right: 10px;
      background-image: url('../assets/expand-arrow.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotateZ(180deg);
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #aaa;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 5px 10px;
    background-color: #ccc;
    cursor: pointer;

    &--selected,
    &:hover {
      background-color: #bbb;
    }
  }

  &--collapsed {
    & .dropdown__field::after {
      transform: rotateZ(0deg);
    }

    & .dropdown__list {
      display: none;
    }
  }
}
</style>
