<template>
  <ul class="list">
    <li
      class="list__item list-item"
      v-for="item in items"
      :key="item.id"
    >
      <div class="list-item__inner">
        {{ item.name }} - {{ item.gender }}
      </div>
      <div class="list-item__inner">
        <button
          class="list-item__button"
          title="Remove"
          @click="$emit('removeEntry', item.id)"
        ></button>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'list',
  props: {
    items: {
      type: Array,
    },
  },
};
</script>

<style lang="scss">
  .list {
    list-style: none;
    padding: 0;

    &__item {
      padding: 7px;
      border: 1px solid #cccccc;
      background-color: #eeeeee;
    }
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__inner {
      display: flex;
      align-items: center;
    }

    &__button {
      margin: 0;
      width: 16px;
      height: 16px;
      background-image: url('../assets/quit.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border: none;
      cursor: pointer;
    }
  }
</style>
