<template>
  <div id="app">
    <div class="filter">
      Filter by gender:
      <dropdown
        :mixClass="'filter__dropdown'"
        :options="filterByGender.options"
        v-model="filterByGender.selected"
      />
    </div>
    <div class="controls">
      <button
        class="controls__button button button--success"
        @click="addHuman"
      >Add</button>
      <button
        class="controls__button button button--danger"
        @click="removeHuman"
      >Remove</button>
    </div>
    <list
      :items="peoples"
      @removeEntry="id => removeHuman(id)"
    />
  </div>
</template>

<script>
import List from './components/List.vue';
import Dropdown from './components/Dropdown.vue';

export default {
  name: 'app',
  components: {
    List,
    Dropdown,
  },
  data: () => ({
    filterByGender: {
      options: {
        none: 'None',
        male: 'Male',
        female: 'Female',
      },
      selected: 'none',
    },
  }),
  computed: {
    peoples() {
      const { peoples } = this.$store.state;

      if (!this.filterByGender.selected || this.filterByGender.selected === 'none') {
        return peoples;
      }
      return peoples.filter(human => human.gender.toLowerCase() === this.filterByGender.selected.toLowerCase());
    },
  },
  methods: {
    addHuman() {
      this.$store.dispatch('addHuman');
    },
    removeHuman(id = null) {
      this.$store.dispatch('removeHuman', id);
    },
  },
};
</script>

<style lang="scss">
  .button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    &--success {
      $success-color: green;
      background-color: $success-color;
      color: #ffffff;

      &:hover {
        background-color: darken($success-color, 5%);
      }
    }

    &--danger {
      $danger-color: red;
      background-color: $danger-color;
      color: #ffffff;

      &:hover {
        background-color: darken($danger-color, 5%);
      }
    }
  }

  .controls {
    &__button {
      margin: 0 20px 20px 0;
    }
  }
</style>
